user              nginx;
worker_processes  auto;
pid               /var/run/nginx.pid;
events { worker_connections  1024; }

http {
  include /etc/nginx/mime.types;
  include /etc/nginx/conf.d/log.nginx;
  include /etc/nginx/conf.d/common.nginx;
  
  server {
    listen 3000;
    location / {
      include /etc/nginx/conf.d/proxy.nginx;
      include /etc/nginx/conf.d/websocket.nginx;
      include /etc/nginx/conf.d/log.nginx;

      # set proxy dynamically so this will still run
      # even if skillviz doesn't resolve
      resolver 127.0.0.1;
      set $proxy http://skillviz:9000;
      proxy_pass $proxy;
    }

    location /api/v1 {
      include /etc/nginx/conf.d/proxy.nginx;
      include /etc/nginx/conf.d/log.nginx;
      
      # set proxy dynamically so this will still run
      # even if rest_api doesn't resolve
      resolver 127.0.0.1;
      set $proxy http://rest_api:5000;
      proxy_pass $proxy;
    }

  }
}

